<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="static/styles.css">
    <link rel="icon" href="static/logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <title>jinja</title>


    <style>
        .white {
            color: white;

        }

        .center {
            text-align: center;

        }

        .img {
            height: 42%;
            width: 45%;

        }
    </style>

</head>

<body class=" h-100 text-center text-bg-dark">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <div class="b-example-divider"></div>

    <header class="p-3 mb-3 border-bottom">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
                    <img src="static/logo.png" alt="logo" class="bi me-2" width="40" height="32" role="img"
                        aria-label="Bootstrap">
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">

                    <li><a href="/" class="nav-link px-2 fw-bold  white">Home</a></li>
                    <li><a href="/feed" class="nav-link px-2 fw-bold  white">Feed</a></li>
                    
                    <li><a href="#" class="nav-link px-2 fw-bold  white">Profile</a></li>
                </ul>

                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                    <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
                </form>

                <div class="dropdown text-end">
                    <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="static/default.png" alt="mdo" width="32" height="32" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu text-small">
     
                        <li><a class="dropdown-item" href="/signin">Sign in</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="position-absolute top-50 start-50 translate-middle">
            <form class="row g-3" method="POST">
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Email</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Enter a value email"
                        name="Email">
                </div>
                <div class="col-md-6">
                    <label for="inputPassword4" class="form-label">Password</label>
                    <input type="password" class="form-control" id="inputPassword4" placeholder="Enter a Password"
                        name="Password">
                </div>
                <div class="col-12">
                    <label for="inputAddress" class="form-label">Full Name</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="Bob the Crafter" name="Name">
                </div>
                <div class="col-12">
                    <label for="inputAddress2" class="form-label">Bio</label>
                    <input type="textarea" class="form-control" id="inputAddress2" placeholder="Enter a Bio" name="Bio">
                </div>
                <div class="col-md-6">
                    <label for="inputCity" class="form-label">Username</label>
                    <input type="text" class="form-control" id="inputCity" placeholder="Enter a Username"
                        name="Username">
                </div>
                <div class="col-md-4">
                    <label for="inputState" class="form-label">Pronouns</label>
                    <select id="inputState" class="form-select" name="pronouns">
                        <option selected>Choose...</option>
                        <option>He/Him</option>
                        <option>She/Her</option>
                        <option>Other</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="inputZip" class="form-label">Birthday</label>
                    <input type="date" class="form-control" id="inputZip" name="birthday">
                </div>
                <div class="col-12">
                    <div class="form-check">

                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Sign up</button>
                    </div>
                </div>
            </form>
</body>

</html>